
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 0;
}


.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.card p {
    padding: 10px;
    font-weight: bold;
    margin: 10px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}